# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
venv

# VSCode/VSCodium
.vscode/

# OS
.DS_Store

# Other non useful files...
images
images_few

results
results_old
results_main
main_results
results_main_MNIST_fashion

benchmark_results
benchmark_results_overlearn
benchmark_results_old

data

checkpoints
checkpoints_benchmark

MLP

plots